@model IEnumerable<CarModel>
<div class="pagetitle">
	<h1>Cars</h1>
</div>
	<a class="btn btn-primary" asp-action="Create">Create</a>
		<table class="table table-primary text-center">
  <thead>
	<tr>
	 <th scope="col">#</th>
	 <th scope="col">Image</th>
	 <th scope="col">Brand</th>
	 <th scope="col">Model</th>
	 <th scope="col">Date</th>
			<th scope="col">Is Deleted</th>
	 <th scope="col">Actions</th>
   </tr>
  </thead>
  <tbody>
	@foreach (var car in this.Model)
	{
		<tr>
			<td>@car.Id</td>
				<td><img width="100" src="/images/@car.ImageName" /></td>
				<td>@car.Brand</td>
				<td>@car.Model</td>
				<td>@car.Date</td>
				<td>
					@if (@car.IsDeleted)
					{
							<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
					}
					else
					{
								<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled>
					}</td>
				<td>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@car.Id">Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@car.Id">Delete</a>
					<a class="btn btn-outline-danger" asp-action="HardDelete" asp-route-id="@car.Id">Hard Delete</a>
				</td>
		</tr>
	}
